
.cabecera{
    
    
    height: 250px;
    width: 50%;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
}
.cuerpo{
    height: 100%;
    width: 100%;
    background-color: #ead6c2;
    display: flex;
    flex-wrap: nowrap;
    
    
}
.imagen{
    height: 400px;
    width: 400px;
}
.descripcion{
    height: auto;
    width: auto;
    font-size: 22px;
    

}
.descripcion1{
    height: auto;
    width: 33.3%;
    font-size: 22px;
    justify-content: space-around;
    margin: 20px;
    
    

}
.divmenu{
    height:500px;
    width: 400px;
    
}
.pie{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

}
h1{
    font: verdana, 45px;
    color: rgb(106 36 169 / 89%);
    
}
h3{
    font-family: cursive;
}
.pcab{
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(51, 10, 88);
    font-weight: 600;
    width: 100%;
    
}
body{
    /*background-image: url(img/fondo2\ \(2\).jpg); */
    background-size: auto;
    overflow: auto;
    background-color: beige;
}
.images{
    src: url(/img/foto\ 1.jpg);
    src: url(/img/foto\ 2.jpg);
    src: url(/img/foto\ 3.jpg);

}
/*.listaLinks{
    font-family: 'Lucida Sans';
    text-decoration-line: underline;
    font-size: 20px;
    align-self: center;
    
} */
.pFooters, pre{
    height: 200px;
    width: 33.3%;
    font-weight: bolder;
    font-size: 20px;

}
.formulario{

}
.imgPrinc{
    margin-top: 20px;
}
.imagenes{
    width: 33%;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 15px;
}

