
.contenedorCarrusel{
    
    
    height: 250px;
    width: 60%;
    margin: auto;
    display: flex;
    
    flex-direction: row;
 
    justify-content: center;
    box-shadow:0 0 0 10px white, 0  15px 50px;
    overflow: hidden;
    position: relative;
    
}
.cuerpo{
    height: 100%;
    width: 100%;
    background-color: #edadca;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px; 
    text-align: center;
    box-shadow: 0 0 0 0px , 0 15px 20px;
    
}
.imagen{
    height: 400px;
    width: 400px;
    margin-left: 15px;
}
.descripcion{
    height: auto;
    width: auto;
    font-size: 22px;
    margin: auto;
    

}
.descripcion1{
    height: auto;
    width: 33.3%;
    font-size: 22px;
    justify-content: space-around;
    text-align: center;
    color: rgb(250, 117, 46);

    
    

    

}
.divmenu{
    height:500px;
    width: 400px;
    
}
.pie{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

}
h1{ 
    font: verdana, 45px;
    color:rgb(84 11 133 / 89%);
    text-shadow : 0 0 5px ;
    
}
h3{
    font-family: cursive;
}
.pcab{
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(81 39 108);
    font-weight: 600;
    width: 100%;
    
    
}
body{
    background-size: auto;
    overflow: auto;
    background-color: rgb(237 237 198);
    margin: 30px;
    
   
}
.images{
    src: url(/img/foto\ 1.jpg);
    src: url(/img/foto\ 2.jpg);
    src: url(/img/foto\ 3.jpg);

}

.pFooters, pre{
    height: 200px;
    width: 33.3%;
    font-weight: bolder;
    font-size: 20px;

}

.imgPrinc{
    margin-top: 20px;
}
.imagenes{
    width: 33%;
}
ul{
    list-style: none;
    
}
li{
    margin-bottom: 15px;
}
.BtnCarr{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(240, 248, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
#izq{
    left: 10px;

}
#der{
    right: 10px ;

}

